            <table border="1" cellspacing="5" cellpadding="5"  style="background-color:rgb(33, 195, 245) ">Ted James
          <tr style="background-color:white;" >
            <td><img src="C:\Users\eyjfsaw29\Desktop\male.png"/></td>
            <td>Phonenix<br>Arizona<br><a href="/custinfo">View Order</a></td> 
           </tr>
       </table>
       <br>
       <table border="1" cellspacing="5" cellpadding="5"  style="background-color:rgb(33, 195, 245) ">Michelle Thompson
        <tr style="background-color:white;" >
          <td><img src="C:\Users\eyjfsaw29\Desktop\male.png"/></td>
          <td>Encinitas<br>California<br><a href="#vieworders">View Order</a></td> 
         </tr>
     </table>
     <br>
     <table border="1" cellspacing="5" cellpadding="5"  style="background-color:rgb(33, 195, 245) ">Tina Adams
        <tr style="background-color:white;" >
          <td><img src="C:\Users\eyjfsaw29\Desktop\male.png"/></td>
          <td>Chandler<br>Arizona<br><a href="#vieworders">View Order</a></td> 
         </tr>
     </table>
     <br>
     <div class="bottom">Created by @ Vignesh R</div>



