<h4>Customer Information</h4>

        <a href="/cust">Customer Details &nbsp;</a>
        <a href="/custinfo">Customer Orders &nbsp;</a>
        <a href="/custedit">Edit Customers &nbsp;</a><br>

        <h5 style="font-size: 15px;">Ted Jamos<br>
            1234 Anyhwere,<br>
            Phoenix-Argeina

        </h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163429.91091036765!2d76.65350195796866!3d8.4999792042039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbb805bbcd47%3A0x15439fab5c5c81cb!2sThiruvananthapuram%2C%20Kerala!5e1!3m2!1sen!2sin!4v1666415076075!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="bottom">Created by @ Vignesh R</div>